<!DOCTYPE html>
{% csrf_token %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>compiler </title><body style="background-color:powderblue;">
{% if succes %}
<div class="alert alert-success" role="alert">
  Congradulations you did it Succsfully Executed
</div>
{% endif%}
{% if not succes %}
<div class="alert alert-success" role="alert">
  Try again
</div>
{% endif%}
{% if next %}
<form method="post">{% csrf_token %}
    <input type="hidden" name="email" value='{{user}}' />
    <button class="btn btn-primary btn-lg active" type="submit">Next</button>

</form>
{% endif%}
    <center><h2>Compiler</h2></center>
<p>Hello {{user}}</p>
<h2>{{question}}</h2>
    <form method="post">{% csrf_token %}
        <center >

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body"   style="background-color:LightCoral;">
        <h5 class="card-title" >Code</h5>
            <textarea name="code" rows="20" cols="80" style="background-color:powderblue;" > {{code}} </textarea>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body"  style="background-color:LightCoral;">
        <h5 class="card-title">Output</h5>
          <textarea name="output" rows="20" cols="80" style="background-color:powderblue;">{{op}}</textarea>
      </div>
    </div>
  </div>



  <div class="col-sm-6">
    <div class="card">
      <div class="card-body"  style="background-color:LightCoral;">

        <h5 class="card-title">Inputs</h5>
          <textarea name="input" rows="10" cols="80" style="background-color:powderblue;">{{ip}}.</textarea>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <p class="card">
      <class="card-body" style="background-color:powderblue;">
          <p></p>
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Preference</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="lan" style="background-color:LightCoral;">
    <option selected>Choose Language</option>
    <option value="Python3">Python3</option>
    <option value="Python">Python</option>
    <option value="C">C</option>
  </select>
        <input type="hidden" name="email" value='{{user}}' />
          <button class="btn btn-primary btn-lg active" type="submit" onclick="alert('Do You Want To Submit')">Run Program</button>
      </div>
    </div>
  </div>
</div>
  </center>
</form>

</head>


</body>
</html>